9/19 **classwork**

In [43]:
a='0123456789abcdef'
print(a[3])
print(a[1])
print(a[:])
print(a[5:])
print(a[8])
print(a[5:-3])
print(a[5:10:2])
print(a[:5])

3
1
0123456789abcdef
56789abcdef
8
56789abc
579
01234

In [10]:
a='hello world,i am kenny,how are you'
b=a.split(',')
c=a.split(' ')
d=a.split()
print(a)
print(b)
print(c)
print(d)

hello world,i am kenny,how are you
['hello world', 'i am kenny', 'how are you']
['hello', 'world,i', 'am', 'kenny,how', 'are', 'you']
['hello', 'world,i', 'am', 'kenny,how', 'are', 'you']

In [18]:
a=['apple','banana','orange']
b=[1,2,3,4,5]
c=['apple',1,2,3,['dog','eat']]
d=list('apple')
print(a)
print(b)
print(c)
print(d)

['apple', 'banana', 'orange']
[1, 2, 3, 4, 5]
['apple', 1, 2, 3, ['dog', 'eat']]
['a', 'p', 'p', 'l', 'e']

In [14]:
t=('apple','banana','orange','grap')
a,b,c,d=t
print(a)
print(b)
print(c)
print(d)
print(t[0])
print(t[1])
print(t[2])
print(t[3])

apple
banana
orange
grap
apple
banana
orange
grap

In [15]:
t1=('a','b','c')
t2=('d','e')
t=t1+t2
print(t)

('a', 'b', 'c', 'd', 'e')

In [17]:
a=dict(name='xoox',age=18,eat=['apple','banana'])
print(a)
print(type(a))

{'name': 'xoox', 'age': 18, 'eat': ['apple', 'banana']}
<class 'dict'>

In [ ]:
a=set()
b=set([1,2,3,4,5])

In [20]:
a=2
b=3
if a>b:
  print('hello')
print('ok')

ok

In [21]:
a=3
b=2
if a>b:
  print('hello')
print('ok')

hello
ok

In [30]:
a=2
b=4
print('a<b')
if a==1:
  print('a=1')
elif a==2:
  pass
  print('a=2')
elif a==3:
  print('a=3')
elif a>b:
  print('a>b')

a<b
a=2

In [22]:
a=2
b=3
c=0
if a>b or a<c and a==2 or b==4:
  print('ok1')
else:
  print('xxx')

xxx

In [31]:
for a in['x','y','z']:
  for b in[1,2,3,]:
    print(b)
  print(a)

1
2
3
x
1
2
3
y
1
2
3
z

In [32]:
for a in['x','y','z']:
  for b in[1,2,3,]:
    print(f'{a}{b}')

x1
x2
x3
y1
y2
y3
z1
z2
z3

In [35]:
i=[]
for t in range(10):
  t+=1
  i.append(t)
print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
a=1
print(a+1)
print('hello')
try:
  a=input('1:')
  print(a+1)
except:
    pass
    print('hello')

2
hello
1:5
hello

In [42]:
a=[]
for i in range(1,10):
  a.append(i*i)
print(a)

b=[j*j for j in range(1,10)]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]